.upload-zone{

padding:60px;

text-align:center;

border:2px dashed rgba(255,255,255,.15);

border-radius:25px;

background:rgba(255,255,255,.04);

backdrop-filter:blur(20px);

transition:.4s;

cursor:pointer;

}

.upload-zone:hover{

border-color:#6D5EF5;

background:rgba(109,94,245,.08);

}

.upload-zone svg{

color:#6D5EF5;

margin-bottom:20px;

}

.upload-zone h2{

font-size:36px;

margin-bottom:10px;

}

.upload-zone p{

color:#94A3B8;

margin-top:10px;

}

.selected-video{

margin-top:30px;

padding:18px;

border-radius:15px;

background:#20293d;

font-weight:600;

}

.generate-btn{

margin-top:35px;

padding:18px 40px;

border:none;

border-radius:15px;

background:linear-gradient(
90deg,
#6D5EF5,
#4CC9F0
);

color:white;

font-size:18px;

font-weight:700;

box-shadow:0 15px 40px rgba(109,94,245,.35);

}